@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String, locations: Map[domain.RetailLocation, Double])

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Delivery list") {

    <header class="top-header">
        <div class="logo">
            <img src="assets/img/fedex-top-logo.png" alt="FeDex Express">
        </div>

        <div class="menu">
            <span class="avatar"></span>
            <a href="#FIXME" class="menu-button">
                <img src="assets/img/menu.png" alt="">
            </a>
        </div>
    </header>
    <main>
        <h2 class="text-center">Deliveries for today</h2>

        <div class="delivery-search-bar">
            <div class="delivery-search-input">
                <input type="text" placeholder="search" />
            </div><!--
        --><div class="delivery-search-scan">
            <button><svg width="24" height="20" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg"><title>Page 1</title><defs><path id="a" d="M23.19 19.958H0V.023h23.19z"/></defs><g fill="none" fill-rule="evenodd"><path d="M21.406 17.748c0 .246-.2.446-.446.446H2.23c-.246 0-.446-.2-.446-.446V6.376c0-.246.2-.446.446-.446h18.73c.246 0 .446.2.446.446v11.372zM1.824 4.058H6.69v-2.23H1.823v2.23zm19.136.088H8.473V.043H.04V5.84h.025C.023 6.013 0 6.19 0 6.377v11.372c0 1.23 1 2.23 2.23 2.23h18.73c1.23 0 2.23-1 2.23-2.23V6.376c0-1.23-1-2.23-2.23-2.23z" fill="#58595B"/><path d="M11.773 14.07c-1.082 0-1.962-.88-1.962-1.962 0-1.082.88-1.963 1.963-1.963 1.083 0 1.963.88 1.963 1.963 0 1.08-.88 1.962-1.963 1.962m0-5.708c-2.065 0-3.746 1.68-3.746 3.746 0 2.065 1.68 3.746 3.746 3.746s3.747-1.68 3.747-3.746-1.68-3.746-3.747-3.746" fill="#58595B"/></g></svg></button>
        </div>
        </div>

        <div class="delivery-addresses">
            <ul>

                    <!-- delivery-confirmed -->
                @for(i <- Seq(1,2)) {
                <li>
                    <div class="delivery-address">
                        <div class="delivery-address-state delivery-address-state--confirmed">
                            <img src="assets/img/icon-home.png" alt="">
                        </div>
                        <div class="delivery-address-details">
                            <div class="delivery-address-details__contact">
                                <ul>
                                    <li>DHR. M. Martens</li>
                                    <li>Laan van Blois 515</li>
                                    <li class="track-nr">#0123456789</li>
                                </ul>
                            </div>
                            <div class="delivery-address-details__distance text-center">
                                <div><img src="assets/img/icon-location.png" alt="" /></div>
                                <div>1km</div>
                            </div>
                            <div class="delivery-address-details__time text-center">
                                <div><img src="assets/img/icon-time.png" alt="" /></div>
                                <div>2min</div>
                            </div>
                        </div>
                        <div class="delivery-address-more">
                            <button class="js-dropdown">
                                <img src="assets/img/icon-more.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-address--more-content">
                        <div class="delivery-toolbar">
                            <div class="delivery-toolbar__delivered">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>delivered</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__notin">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-notin.png" alt=""></div>
                                    <div>not in</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__more">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>more</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                }
                    <!-- / delivery-confirmed -->

                @for(i <- Seq(1,2)) {

                        <!-- delivery-uknkown -->
                <li>
                    <div class="delivery-address">
                        <div class="delivery-address-state">
                            <img src="assets/img/icon-status-unknown.png" alt="">
                        </div>
                        <div class="delivery-address-details">
                            <div class="delivery-address-details__contact">
                                <ul>
                                    <li>DHR. M. Martens</li>
                                    <li>Laan van Blois 515</li>
                                    <li class="track-nr">#0123456789</li>
                                </ul>
                            </div>
                            <div class="delivery-address-details__distance text-center">
                                <div><img src="assets/img/icon-location.png" alt="" /></div>
                                <div>1km</div>
                            </div>
                            <div class="delivery-address-details__time text-center">
                                <div><img src="assets/img/icon-time.png" alt="" /></div>
                                <div>2min</div>
                            </div>
                        </div>
                        <div class="delivery-address-more">
                            <button class="js-dropdown">
                                <img src="assets/img/icon-more.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-address--more-content">
                        <div class="delivery-toolbar">
                            <div class="delivery-toolbar__delivered">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>delivered</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__notin">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-notin.png" alt=""></div>
                                    <div>not in</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__more">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-more.png" alt=""></div>
                                    <div>more</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            }
                    <!-- / delivery-uknkown -->
            </ul>
        </div>

        <div class="delivery-addresses">
            <ul>
                <li>
                    <div class="delivery-addressess__header">
                        <div class="delivery-addressess__header-content">
                            <h3>Relay mondial Bruna</h3>
                            <div>Peperstraat 120</div>
                            <div>1345 HH Brussel</div>
                        </div>
                        <div class="delivery-addressess__header-count">
                            <h2>(12)</h2>
                            <div>packages</div>
                        </div>
                    </div>
                </li>

                    <!-- delivery-relay -->
                <li>
                    <div class="delivery-address">
                        <div class="delivery-address-state delivery-address-state--relay">
                            <img src="assets/img/icon-relay.png" alt="">
                        </div>
                        <div class="delivery-address-details">
                            <div class="delivery-address-details__contact">
                                <ul>
                                    <li>DHR. M. Martens</li>
                                    <li>Laan van Blois 515</li>
                                    <li class="track-nr">#0123456789</li>
                                </ul>
                            </div>
                            <div class="delivery-address-details__distance text-center">
                                <div><img src="assets/img/icon-location.png" alt="" /></div>
                                <div>1km</div>
                            </div>
                            <div class="delivery-address-details__time text-center">
                                <div><img src="assets/img/icon-time.png" alt="" /></div>
                                <div>2min</div>
                            </div>
                        </div>
                        <div class="delivery-address-more">
                            <button class="js-dropdown">
                                <img src="assets/img/icon-more.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-address--more-content">
                        <div class="delivery-toolbar">
                            <div class="delivery-toolbar__delivered">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>delivered</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__notin">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-notin.png" alt=""></div>
                                    <div>not in</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__more">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-more.png" alt=""></div>
                                    <div>more</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                    <!-- / delivery-relay -->

                    <!-- delivery-relay -->
                <li>
                    <div class="delivery-address">
                        <div class="delivery-address-state delivery-address-state--relay">
                            <img src="assets/img/icon-relay.png" alt="">
                        </div>
                        <div class="delivery-address-details">
                            <div class="delivery-address-details__contact">
                                <ul>
                                    <li>DHR. M. Martens</li>
                                    <li>Laan van Blois 515</li>
                                    <li class="track-nr">#0123456789</li>
                                </ul>
                            </div>
                            <div class="delivery-address-details__distance text-center">
                                <div><img src="assets/img/icon-location.png" alt="" /></div>
                                <div>1km</div>
                            </div>
                            <div class="delivery-address-details__time text-center">
                                <div><img src="assets/img/icon-time.png" alt="" /></div>
                                <div>2min</div>
                            </div>
                        </div>
                        <div class="delivery-address-more">
                            <button class="js-dropdown">
                                <img src="assets/img/icon-more.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-address--more-content">
                        <div class="delivery-toolbar">
                            <div class="delivery-toolbar__delivered">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>delivered</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__notin">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-notin.png" alt=""></div>
                                    <div>not in</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__more">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-more.png" alt=""></div>
                                    <div>more</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                    <!-- / delivery-relay -->

                    <!-- delivery-relay -->
                <li>
                    <div class="delivery-address">
                        <div class="delivery-address-state delivery-address-state--relay">
                            <img src="assets/img/icon-relay.png" alt="">
                        </div>
                        <div class="delivery-address-details">
                            <div class="delivery-address-details__contact">
                                <ul>
                                    <li>DHR. M. Martens</li>
                                    <li>Laan van Blois 515</li>
                                    <li class="track-nr">#0123456789</li>
                                </ul>
                            </div>
                            <div class="delivery-address-details__distance text-center">
                                <div><img src="assets/img/icon-location.png" alt="" /></div>
                                <div>1km</div>
                            </div>
                            <div class="delivery-address-details__time text-center">
                                <div><img src="assets/img/icon-time.png" alt="" /></div>
                                <div>2min</div>
                            </div>
                        </div>
                        <div class="delivery-address-more">
                            <button class="js-dropdown">
                                <img src="assets/img/icon-more.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-address--more-content">
                        <div class="delivery-toolbar">
                            <div class="delivery-toolbar__delivered">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>delivered</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__notin">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-notin.png" alt=""></div>
                                    <div>not in</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__more">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-more.png" alt=""></div>
                                    <div>more</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                    <!-- / delivery-relay -->
            </ul>
        </div>

        <div class="delivery-addresses">
            <ul>
                <li>
                    <div class="delivery-addressess__header">
                        <div class="delivery-addressess__header-content">
                            <h3>Relay mondial Primera</h3>
                            <div>Hoofdweg 88</div>
                            <div>1305 HH Brussel</div>
                        </div>
                        <div class="delivery-addressess__header-count">
                            <h2>(18)</h2>
                            <div>packages</div>
                        </div>
                    </div>
                </li>

                    <!-- delivery-relay -->
                <li>
                    <div class="delivery-address">
                        <div class="delivery-address-state delivery-address-state--relay">
                            <img src="assets/img/icon-relay.png" alt="">
                        </div>
                        <div class="delivery-address-details">
                            <div class="delivery-address-details__contact">
                                <ul>
                                    <li>DHR. M. Martens</li>
                                    <li>Laan van Blois 515</li>
                                    <li class="track-nr">#0123456789</li>
                                </ul>
                            </div>
                            <div class="delivery-address-details__distance text-center">
                                <div><img src="assets/img/icon-location.png" alt="" /></div>
                                <div>1km</div>
                            </div>
                            <div class="delivery-address-details__time text-center">
                                <div><img src="assets/img/icon-time.png" alt="" /></div>
                                <div>2min</div>
                            </div>
                        </div>
                        <div class="delivery-address-more">
                            <button class="js-dropdown">
                                <img src="assets/img/icon-more.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-address--more-content">
                        <div class="delivery-toolbar">
                            <div class="delivery-toolbar__delivered">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>delivered</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__notin">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-notin.png" alt=""></div>
                                    <div>not in</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__more">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-more.png" alt=""></div>
                                    <div>more</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                    <!-- / delivery-relay -->

                    <!-- delivery-relay -->
                <li>
                    <div class="delivery-address">
                        <div class="delivery-address-state delivery-address-state--relay">
                            <img src="assets/img/icon-relay.png" alt="">
                        </div>
                        <div class="delivery-address-details">
                            <div class="delivery-address-details__contact">
                                <ul>
                                    <li>DHR. M. Martens</li>
                                    <li>Laan van Blois 515</li>
                                    <li class="track-nr">#0123456789</li>
                                </ul>
                            </div>
                            <div class="delivery-address-details__distance text-center">
                                <div><img src="assets/img/icon-location.png" alt="" /></div>
                                <div>1km</div>
                            </div>
                            <div class="delivery-address-details__time text-center">
                                <div><img src="assets/img/icon-time.png" alt="" /></div>
                                <div>2min</div>
                            </div>
                        </div>
                        <div class="delivery-address-more">
                            <button class="js-dropdown">
                                <img src="assets/img/icon-more.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-address--more-content">
                        <div class="delivery-toolbar">
                            <div class="delivery-toolbar__delivered">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>delivered</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__notin">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-notin.png" alt=""></div>
                                    <div>not in</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__more">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-more.png" alt=""></div>
                                    <div>more</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                    <!-- / delivery-relay -->

                    <!-- delivery-relay -->
                <li>
                    <div class="delivery-address">
                        <div class="delivery-address-state delivery-address-state--relay">
                            <img src="assets/img/icon-relay.png" alt="">
                        </div>
                        <div class="delivery-address-details">
                            <div class="delivery-address-details__contact">
                                <ul>
                                    <li>DHR. M. Martens</li>
                                    <li>Laan van Blois 515</li>
                                    <li class="track-nr">#0123456789</li>
                                </ul>
                            </div>
                            <div class="delivery-address-details__distance text-center">
                                <div><img src="assets/img/icon-location.png" alt="" /></div>
                                <div>1km</div>
                            </div>
                            <div class="delivery-address-details__time text-center">
                                <div><img src="assets/img/icon-time.png" alt="" /></div>
                                <div>2min</div>
                            </div>
                        </div>
                        <div class="delivery-address-more">
                            <button class="js-dropdown">
                                <img src="assets/img/icon-more.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-address--more-content">
                        <div class="delivery-toolbar">
                            <div class="delivery-toolbar__delivered">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>delivered</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__notin">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-notin.png" alt=""></div>
                                    <div>not in</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__more">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-more.png" alt=""></div>
                                    <div>more</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                    <!-- / delivery-relay -->
            </ul>
        </div>

        <div class="delivery-addresses">
            <ul>
                <li>
                    <div class="delivery-addressess__header">
                        <div class="delivery-addressess__header-content">
                            <h3>No delivery</h3>
                        </div>
                        <div class="delivery-addressess__header-count">
                            <h2>(07)</h2>
                            <div>packages</div>
                        </div>
                    </div>
                </li>

                    <!-- delivery-no-delivery -->
                <li>
                    <div class="delivery-address">
                        <div class="delivery-address-state delivery-address-state--no-delivery">
                            <img src="assets/img/icon-not-delivered.png" alt="">
                        </div>
                        <div class="delivery-address-details">
                            <div class="delivery-address-details__contact">
                                <ul>
                                    <li>DHR. M. Martens</li>
                                    <li>Laan van Blois 515</li>
                                    <li class="track-nr">#0123456789</li>
                                </ul>
                            </div>
                            <div class="delivery-address-details__distance text-center">
                                <div><img src="assets/img/icon-location.png" alt="" /></div>
                                <div>1km</div>
                            </div>
                            <div class="delivery-address-details__time text-center">
                                <div><img src="assets/img/icon-time.png" alt="" /></div>
                                <div>2min</div>
                            </div>
                        </div>
                        <div class="delivery-address-more">
                            <button class="js-dropdown">
                                <img src="assets/img/icon-more.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-address--more-content">
                        <div class="delivery-toolbar">
                            <div class="delivery-toolbar__delivered">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>delivered</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__notin">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-notin.png" alt=""></div>
                                    <div>not in</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__more">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-more.png" alt=""></div>
                                    <div>more</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                    <!-- / delivery-no-delivery -->

                    <!-- delivery-no-delivery -->
                <li>
                    <div class="delivery-address">
                        <div class="delivery-address-state delivery-address-state--no-delivery">
                            <img src="assets/img/icon-not-delivered.png" alt="">
                        </div>
                        <div class="delivery-address-details">
                            <div class="delivery-address-details__contact">
                                <ul>
                                    <li>DHR. M. Martens</li>
                                    <li>Laan van Blois 515</li>
                                    <li class="track-nr">#0123456789</li>
                                </ul>
                            </div>
                            <div class="delivery-address-details__distance text-center">
                                <div><img src="assets/img/icon-location.png" alt="" /></div>
                                <div>1km</div>
                            </div>
                            <div class="delivery-address-details__time text-center">
                                <div><img src="assets/img/icon-time.png" alt="" /></div>
                                <div>2min</div>
                            </div>
                        </div>
                        <div class="delivery-address-more">
                            <button class="js-dropdown">
                                <img src="assets/img/icon-more.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-address--more-content">
                        <div class="delivery-toolbar">
                            <div class="delivery-toolbar__delivered">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>delivered</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__notin">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-notin.png" alt=""></div>
                                    <div>not in</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__more">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-more.png" alt=""></div>
                                    <div>more</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                    <!-- / delivery-no-delivery -->

                    <!-- delivery-no-delivery -->
                <li>
                    <div class="delivery-address">
                        <div class="delivery-address-state delivery-address-state--no-delivery">
                            <img src="assets/img/icon-not-delivered.png" alt="">
                        </div>
                        <div class="delivery-address-details">
                            <div class="delivery-address-details__contact">
                                <ul>
                                    <li>DHR. M. Martens</li>
                                    <li>Laan van Blois 515</li>
                                    <li class="track-nr">#0123456789</li>
                                </ul>
                            </div>
                            <div class="delivery-address-details__distance text-center">
                                <div><img src="assets/img/icon-location.png" alt="" /></div>
                                <div>1km</div>
                            </div>
                            <div class="delivery-address-details__time text-center">
                                <div><img src="assets/img/icon-time.png" alt="" /></div>
                                <div>2min</div>
                            </div>
                        </div>
                        <div class="delivery-address-more">
                            <button class="js-dropdown">
                                <img src="assets/img/icon-more.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-address--more-content">
                        <div class="delivery-toolbar">
                            <div class="delivery-toolbar__delivered">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-delivered.png" alt=""></div>
                                    <div>delivered</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__notin">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-notin.png" alt=""></div>
                                    <div>not in</div>
                                </button>
                            </div>
                            <div class="delivery-toolbar__more">
                                <button>
                                    <div><img src="assets/img/icon-delivery-tb-more.png" alt=""></div>
                                    <div>more</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                    <!-- / delivery-no-delivery -->
            </ul>
        </div>

    </main>

    <div class="modal">
        <div class="modal__content">
            <h2 class="big-heading">
                Nearest relay drop-off point
            </h2>
            @for((location, distance) <- locations) {
            <p>
                @location.name<br>
                @location.locationAddress<br>
                @location.locationPostalCode @location.locationCity
            </p>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='https://www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
}